body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #e91e63;
    color: white;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    text-align: center;
}

h2 {
    color: #e91e63;
}

.image {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #e91e63;
    color: white;
    padding: 10px;
}
